<footer>
    <div class="footer-content-container d-flex justify-content-between align-items-end container">
        <div class="d-flex flex-column justify-content-start align-items-end py-3 text-start">
            <p class="fs-3">Let's GET IN TOUCH !</p>
            <p class="w-100">bring your ideas to life</p>
        </div>
        <div>

        </div>
    </div>
</footer>

<style>
    footer {
        position: relative;
        height: 500px;
        background-image: url("../image/footer_bg.png");
        background-position: bottom;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
    }

    .footer-content-container {
        height: 100%;
    }
</style>