<script src="./js/scroll.js"></script>
<script src="./js/include_icons_vertical.js"></script>

<section class="banner-container">
    <div class="content-container container d-flex align-items-center">
        <p>
            <span class="fs-3 font-art d-block w-50 mx-auto">Lorem ipsum dolor sit amet consectetur. Tempor pellentesque
                tortor nullam
                risusac eu. Posuere invitae amet sit.</span>
        </p>
    </div>
    <div id="contacts-icons-vertical-container"></div>
    <div class="scroll-tip-container container">
        <img src="../image/arrow_vertical.svg" alt="arrow animation" class="arrow-vertical-image">
        <button class="scroll-down-btn">
            <div>SCROOL DOWN</div>
            <div>TO VIEW MY WORKS</div>
        </button>
    </div>
</section>

<style>
    .banner-container {
        position: relative;
        height: 600px;
        background-image: url("../image/home_banner.png");
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
    }

    .banner-container>.content-container {
        height: 80%;
    }

    .banner-container>#contacts-icons-vertical-container {
        position: absolute;
        right: 1rem;
        bottom: 10%;
        z-index: 2;
    }

    .banner-container>.scroll-tip-container {
        position: relative;
        margin-top: auto;
        margin-bottom: 0.5rem;
        opacity: 0.7;
    }

    .banner-container>.scroll-tip-container>.arrow-vertical-image {
        position: absolute;
        transform: translateY(-40%);
    }

    .banner-container>.scroll-tip-container>.scroll-down-btn {
        display: flex;
        flex-direction: column;
        border: none;
        background: transparent;
        margin-left: 1.5rem;
    }
</style>